* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav class */
:root {  
    --nav-background-color: steelblue;
    --nav-link-color: #ffffff;;
    --nav-hover-link-color: steelblue;
    --nav-hover-background-color: #ffffff;
}

nav{
    background-color: var(--nav-background-color);
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 20px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Class Selectors */
.box{
    width: 50rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: white;
    color: black;
}

aside {
    width:30rem;
    text-align: center;
}

h1 {
    color:steelblue;
}

aside h2 {
    /* position of the text on the box*/
    position: absolute;
    top: 450px;
    left: 77px;
}

main img {
    /* To put a localization of image on the box */
    float: right;
}
img{ 
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside img{
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

