:root {
    --primary-color: #E57E28;
    --secondary-color: #EAAC63;
    --accent1-color: #64AFB4;
    --accent2-color:#008489;

    --heading-font: 'roboto', serif;
    --paragraph-font:'roboto', serif;

    --nav-background-color: #EAAC63;
    --nav-link-color: #64AFB4;
    --nav-hover-link-color: #008489;
    --nav-hover-background-color: #E57E28;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* texts */

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 50px;
    left: 50px;

}

/* Navegation Bar */

header {
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

nav a{ 
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0 20px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Hero Container */

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0px;
    left: 50px;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    background-color: #008489;
    padding: 20px;
    float: right;
}

.hero article p {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    position: relative;
    top: auto;
    left: auto;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
}

/* History */

.history img { 
    display: inline-block;
    margin: 10px;
    justify-content: center;

}

.history p {
    text-align: center;
    top: 0px;
    left: 20px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

/* figure */

figure{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller roboto;
    padding: 3px;
    text-align: center;
}

/* adventure Container */

.adventure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
    width: 100%;
}

.adventure img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.adventure h1 {
    position: relative;
    top: 0;
    left: auto;
}

.adventure h2 {
    position: relative;
    top: 0;
    left: auto;
}

.adventure p{
    position: relative;
    top: 0;
    left: auto;
    font-family: var(--heading-font);
    color: var(--primary-color);  
}

.adventure article {
    background-color: #008489;
    padding: 20px;
}

.adventure article img {
    width: 200px;
    height: auto;
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure figure {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.adventure img {
    width: 20%;
    height: auto;
}

.adventure figcaption {
    text-align: center;
    margin-top: 5px;
}



/* Footer*/ 

footer p {
    top: 0px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    float: inline-start;
}

footer {
    position: relative;
    top: 0px;
    left: auto;
    display: flex;
    justify-content: flex-end;
    max-width: 1920px;
    background-color: #008489;
    padding: 20px;
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


