@import url('/wwr/font/robotocn.ttf');
@import url('/wwr/font/robotolight.ttf');

:root {
    --primary-color: #E57E28;
    --secondary-color: #EAAC63;
    --accent1-color: #64AFB4;
    --accent2-color:#008489;

    --heading-font: 'roboto', serif;
    --paragraph-font:'roboto', serif;

    --nav-background-color: #EAAC63;
    --nav-link-color: #64AFB4;;
    --nav-hover-link-color: #008489;
    --nav-hover-background-color: #E57E28;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


